.header1 {
  position: relative;
  padding: 10px;
  background-color: #C94C46;
  display: flex;
  justify-content: center;
  height: 40px;
  transition: all .2s ease-in-out;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .header1 {
    height: unset;
  }
}

.header1__text {
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .header1__text {
    text-align: center;
    width: 80%;
  }
}

.header1__closeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}